.nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.nav a, .nav button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .2rem;
	cursor: pointer;
	transition: .1s;
	border: .0625rem solid transparent;
	background: #eee;
}

.nav a:hover, .nav a:focus, .nav button:hover, .nav button:focus {
	outline: none;
	border-color: #333;
	box-shadow: 0 0 0 .1875rem #eee;
	background: #fff;
}

.nav a:global(.active) {
	border-color: #fb1;
	box-shadow: 0 0 0 .1875rem #fea;
	background: #fff;
}

.nav a:global(.active) svg > * {
	fill: #fb1
}