.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	z-index: 2000;
	background-color: rgba(0, 0, 0, .5);
}

.modal-container.ativo {
	display: flex;
}

.modal {
	position: relative;
	width: 80vw;
	max-width: 600px;
	box-sizing: border-box;
	border: 10px solid #fb5;
	box-shadow: 0 0 0 10px white;
	background-color: white;
	padding: 40px;
}

@keyframes modal {
	from {
		opacity: 0;
		transform: translate3d(0, -30px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.ativo .modal {
	animation: modal .3s forwards;
}

.fechar {
	position: absolute;
	top: -30px;
	right: -30px;
	height: 50px;
	width: 50px;
	border: 4px solid white;
	border-radius: 50%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
	cursor: pointer;
	background: #e54 url('../img/fechar.svg') no-repeat center center;
}

.modal label {
	display: block;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: bold;
	margin: 1rem 0 .5rem 0;
}

.modal input {
	width: 100%;
	border-radius: 0px;
	border: 2px solid #222;
	padding: .7rem .5rem;
}

.modal button[type="submit"] {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	font-family: 'IBM Plex Mono', monospace;
	border: none;
	border-radius: 4px;
	color: white;
	background-color: #e54;
	padding: .7rem 2rem;
	margin-top: 1rem;
}