* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f7f7;
}

nav {
	text-align: center;
}

nav img {
	margin: 4rem;
}

ul {
	display: flex;
	gap: 1.3rem;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 4rem;
}

a {
	color: #000;
	background-color: #fff;
	text-decoration: none;
	border-radius: .2rem;
	padding: 1rem 1.5rem;
}

#botao {
	color: #fff;
	background-color: #ee2211;
	padding: 1rem 1.5rem;
}

section {
	display: grid;
	width: 1000px;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto 3rem auto;
}

section img {
	height: 100%;
	width: 100%;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	background-color: #fff;
	gap: 1.5rem;
	padding: 2.3rem;
}

#intro p {
	font-size: 20px;
	text-align: right;
}

h2 {
	font-size: 64px;
}

#vanBik {
	display: flex;
	flex-direction: column;
	color: #c6c6c6;
	text-align: right;
	justify-content: center;
	padding: 1.3rem;
}

#esp {
	display: flex;
	background-color: #fff;
	flex-direction: column;
	gap: .7rem;
	padding: 3.5rem;
}

#esp p {
	margin-left: 2.5rem;
	margin-bottom: 1.5rem;
}

#esp p:nth-child(6) {
	margin-bottom: 0;
}

h4 {
	display: flex;
	align-items: center;
}

h4 img {
	width: 6%;
	margin-right: 1rem;
}