.tooltip {
	position: absolute;
	z-index: 500;
	max-width: 170px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: .875rem;
	font-weight: bold;
	border-radius: 2px;
	color: white;
	box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, .6);
	background-color: rgba(0, 0, 0, .6);
	padding: .5rem;
}