img {
	display: block;
	max-width: 100%;
}

#galeria {
	max-width: 600px;
	margin: auto;
}

#galeria ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0 0 10px;
}