/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 3rem;
}

h1, p {
	margin: 0;
}

h1 {
	font-size: 3.8rem;
	line-height: 1;
}

p, span {
	font-size: 1.4rem;
}

img {
	max-width: 100%;
	border-radius: .3rem;
}

.comprar {
	font-size: 1.5rem;
	color: #103;
	text-decoration: none;
	background-color: #a8f;
	border-radius: .3rem;
	padding: .5rem 1rem;
}

.preco {
	background-color: #ddd;
	padding: .3rem .5rem;
	border-radius: .2rem;
}